<!--<router-outlet></router-outlet>-->
<div class="d-flex p-2">
  <div class="left-side px-2">
    <left-side (onNumberChange)="onNumberChange($event)"></left-side>
  </div>
  <div class="center px-2">
    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <mat-select [(ngModel)]="option" (ngModelChange)="onSelectOption($event)">
        <mat-option value="prime">isPrime</mat-option>
        <mat-option value="fibo">isFibonacci</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="right-side px-2">
    <right-side></right-side>
  </div>
</div>
